@model IEnumerable<DAL.Model.PM.ProductDetails>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<h2>Chi Tiết Sản Phẩm</h2>
<link href="~/css/Admin/brandadmin.css" rel="stylesheet" />
<div>
    <hr />
    <table class="tablebrand">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listImages)
            </th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Product.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelIem => item.Product.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelIem => item.TypeColor)
                </td>

                <td>
                    @Html.DisplayFor(modelIem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelIem => item.Price)
                    <div class="form-group">
                        @*@await Html.PartialAsync("~/Views/Component/CurrencyInput.cshtml", "Price")*@
                    </div>
                </td>
                <td>
                    <div class="imgpro">
                        @{
                            string[] images = item.listImages.Split(new string[] { "," }, StringSplitOptions.None);
                        }
                        @foreach (var i in images)
                        {
                            <img src=@Url.Content(i)>
                            <br>
                        }
                    </div>
                </td>
            </tr>
            }
        <tbody>
    </table>
</div>
<div class="backtolist">
    <a href="/Product/Index">Trở lại trang chủ</a>
</div>
