@model IEnumerable<DAL.Model.PM.MainGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}
<link href="~/css/Admin/brandadmin.css" rel="stylesheet" />
<h2>Ngành hàng chính</h2>
<div class="subadd">
    <a href="/MainGroup/AddMainGroup">Thêm</a>
</div>

<table class="tablebrand">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeSex)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src=@Url.Content(item.DefaultImage) />
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeSex)
            </td>

            <td>
                <div class="subedit">
                    <a href="/MainGroup/EditMainGroup?id=@item.ID">Sửa</a>
                </div>
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @await Html.PartialAsync("~/Views/Component/ConfirmPopup.cshtml", item.ID)
            </td>
        </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("~/Views/Component/Pagination.cshtml", new Aoo.ViewModels.Component.PaginationModel { currentPage = ViewBag.currentPage, totalPage = ViewBag.totalPage });
<script src="~/js/Admin/PM/scripts.js"></script>