@model IEnumerable<DAL.Model.PM.Product>
@using Common.Enum.PM;
@inject BLL.BLL.PM.IMainGroupBLL MainGroupBLL
@inject BLL.BLL.PM.ISubGroupBLL SubGroupBLL
@inject BLL.BLL.PM.IBrandBLL BrandBLL
@{
    var listSubGroup = await SubGroupBLL.Get();
    var listMainGroup = await MainGroupBLL.Get();
    var listBrand = await BrandBLL.Get();
}
<img src="~/images/1240x-bighb-2015-mh-038-1980x1346px.jpg" />
<h1 class="w3wthreeheadingaits">MEN'S SHOES</h1>
<link href="~/css/shopdev.css" rel="stylesheet" />
@*@foreach (var item in Model)
    {
        <div class="wthreeproductdisplay" style="display:flex">
            <div id="cbp-pgcontainer" class="cbp-pgcontainer">
                <ul class="cbp-pggrid">
                    <li class="wthree aits w3l">
                        <div class="cbp-pgcontent" id="men-8">
                            <span class="cbp-pgrotate"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                            <a href="mens_single.html">
                                <div class="cbp-pgitem a3ls">

                                    <div class="cbp-pgitem-flip">
                                        <img src="@Url.Content(item.DefaultImage)">
                                    </div>
                                </div>
                            </a>
                            <ul class="cbp-pgoptions w3l">
                                <li style="color:black" class="cbp-pgoptcompare">
                                   Nike

                                </li>
                                <li class="cbp-pgoptsize agile">
                                    <span data-size="XL">XL</span>
                                    <div class="cbp-pgopttooltip">
                                        <span data-size="XL">XL</span>
                                        <span data-size="L">L</span>
                                        <span data-size="M">M</span>
                                        <span data-size="S">S</span>
                                    </div>
                                </li>
                                <li class="cbp-pgoptcart">
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="w3l_item" value="Sweater ">
                                        <input type="hidden" name="amount" value="25.00">
                                        <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                        <span class="w3-agile-line"> </span>
                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <a href="mens_single.html">
                            <div class="cbp-pginfo w3layouts">
                                <ul>
                                    <li><h3>@item.Model</h3></li>
                                    <li><span class="cbp-pgprice">$25</span></li>
                                </ul>

                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }*@
@foreach (var item in Model)
{
    <div class="cover">
        <ul>
            <li>
                <div class="coverimg">
                    <img src="@Url.Content(item.DefaultImage)">
                </div>
            </li>
        </ul>
       
        <ul class="cbp-pgoptions w3l">
            <li style="color:black" class="cbp-pgoptcompare">
                @{
                    var listimgbrand = await BrandBLL.Find(item.BrandID);
                    <img style="width:50px;height:50px;margin:-10px" src="@Url.Content(listimgbrand.DefaultImage)" />
                 }

            </li>
            <li class="cbp-pgoptsize agile">
                <span data-size="XL">39</span>
                <div class="cbp-pgopttooltip">
                    <span data-size="XL">43</span>
                    <span data-size="XL">42</span>
                    <span data-size="XL">41</span>
                    <span data-size="XL">40</span>
                </div>
            </li>
            <li class="cbp-pgoptcart">
                <form action="#" method="post">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="add" value="1">
                    <input type="hidden" name="w3l_item" value="Sweater ">
                    <input type="hidden" name="amount" value="25.00">
                    <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                    <span class="w3-agile-line"> </span>
                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                </form>
            </li>
        </ul>

        <div class="pricemodel">
            <ul>
                <li><a href="#"><span>@item.Model</span></a></li>
                <li><span class="price">$25</span></li>
            </ul>

        </div>
    </div>

}
