@model Aoo.ViewModels.PM.Product.EditProductViewModel
@inject BLL.BLL.PM.IBrandBLL BrandBLL
@inject BLL.BLL.PM.ISubGroupBLL SubGroupBLL
@inject BLL.BLL.PM.ICategoryBLL CategoryBLL

@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
    var listCate = await CategoryBLL.Get();
    var listBrand = await BrandBLL.Get();
    var listSubGroup = await SubGroupBLL.Get();
    var OldBrand = await BrandBLL.Find(Model.Brand);
    var OldCategory = await CategoryBLL.Find(Model.Category);
    var OldSubGroup = await SubGroupBLL.Find(Model.SubGroup);
}
<h2>Chỉnh Sửa Sản Phẩm</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" class="form-control" />
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <input asp-for="ID" type="hidden" class="form-control" />

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isOnlineOnly" /> @Html.DisplayNameFor(model => model.isOnlineOnly)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StockMin" class="control-label"></label>
                <input asp-for="StockMin" class="form-control" />
                <span asp-validation-for="StockMin" class="text-danger"></span>
            </div>
            <div style="width:250%">
                <textarea name="Details" style="width:100%;height:200px" id="editor"></textarea>
            </div>
            <br />
            <div>
                <label asp-for="SubGroup" class="control-label"></label>
                <select asp-for="SubGroup" asp-items="@(new SelectList(listSubGroup,"ID","Name"))">
                    <option selected="selected" value="OldSubGroup"></option>
                </select>
                <span asp-validation-for="SubGroup" class="text-danger"></span>
            </div>
            <br />
            <div>
                <label asp-for="Brand" class="control-label"></label>
                <select asp-for="Brand" asp-items="@(new SelectList(listBrand,"ID","Name"))">
                    <option selected="selected" value="OldBrand"></option>
                </select>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <br />
            <div>
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" asp-items="@(new SelectList(listCate,"ID","Name"))">
                    <option selected="selected" value="OldCategory"></option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="hidden" asp-for="@Model.OldImage" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DefaultImage" class="control-label"></label>
                @await Html.PartialAsync("~/Views/Component/SingpleUploadImage.cshtml", new Aoo.ViewModels.Component.SingleUploadImageModel { Name = "DefaultImage", DefaultImage = Model.OldImage })
                <span asp-validation-for="DefaultImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div class="backtolist">
    <a href="/Product/Index">Trở lại trang quản lý</a>
</div>

