@model IEnumerable<DAL.Model.PM.Product>
@inject BLL.BLL.PM.IBrandBLL BrandBLL
@inject BLL.BLL.PM.IMainGroupBLL MainGroupBLL
@inject BLL.BLL.PM.ISubGroupBLL SubGroupBLL
@inject BLL.BLL.PM.ICategoryBLL CategoryBLL
@inject BLL.BLL.PM.IProductDetailsBLL ProductDetailsBLL
@using Common.Enum.PM;
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
    var listCate = await CategoryBLL.Get();
    var listBrand = await BrandBLL.Get();
    var listSubGroup = await SubGroupBLL.Get();
    var listMainGroup = await MainGroupBLL.Get();
    //var listColor = Html.GetEnumSelectList<TypeColorEnum>();
}
<link href="~/css/Admin/brandadmin.css" rel="stylesheet" />
<h2 class="titlename">Danh Sách Sản Phẩm</h2>
<form>
    <input id="myInput" value="" class="filpro" onkeyup="myFunction()" name="contain" type="text" placeholder="Bạn muốn tìm gì" />
    <div class="editbtn">
        <button type="button" class="btn-danger fa fa-plus btnadd" onclick="window.location.href='/Product/AddProduct'"> Thêm mới</button>
        <button type="submit" class="btn btn-info fa fa-search"> Tìm kiếm</button>
    </div>
</form>
<div class="cmbbrand">
    <form asp-action="AddProduct" enctype="multipart/form-data">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="maingroup" class="mainindex">
            <label class="control-label">Ngành hàng chính</label>
        </div>
        <select asp-items="@(new SelectList(listMainGroup,"ID","Name"))">
            <option selected="selected" value="">Please select</option>
        </select>
        <div id="subgroup" class="subindex">
            <label class="control-label">Ngành hàng phụ</label>
        </div>
        <div class="subsel">
            <select id="SubItem" asp-items="@(new SelectList(listSubGroup,"ID","Name"))">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <span class="text-danger"></span>

        <div id="brand" class="brandindex">
            <label class="control-label">Thương hiệu</label>
        </div>
        <div class="brandsel">
            <select asp-items="@(new SelectList(listBrand,"ID","Name"))">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <span class="text-danger"></span>

        <div id="cate" class="cateindex">
            <label class="control-label">Loại</label>
        </div>
        <div class="catesel">
            <select asp-items="@(new SelectList(listCate,"ID","Name"))">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <span class="text-danger"></span>

    </form>
</div>
<div class="tablebrand">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isOnlineOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultImage)
            </th>
            <th>

            </th>
        </tr>
    </table>
</div>
<table id="myTable" class="tabledisplay">
    @foreach (var item in Model)
    {
        <tr>

            <th>
                <a>  @Html.DisplayFor(modelItem => item.Model)</a>
                @{
                    var listColor = await ProductDetailsBLL.Get(filter: p => p.ProductID == item.ID);
                    foreach(var i in listColor)
                    {
                        <a href="/ProductDetails/Details?id=@item.ID&color=@i.TypeColor.ToString()">@i.TypeColor.ToString()</a>

                    }

                }
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.StockMin)
            </th>
            <th>
                <div class="notdisplay">
                    @Html.DisplayFor(modelItem => item.isOnlineOnly)
                </div>

            </th>
            <th>
                <img src=@Url.Content(item.DefaultImage) />
            </th>
            <th>
                <div class="suabtn">
                    <button type="button" onclick="window.location.href='/Product/EditProduct?id=@item.ID'" class="btn-success fa fa-pencil btnedit"> Sửa</button>
                </div>
                <div class="delbtn fa fa-trash">
                    @await Html.PartialAsync("~/Views/Component/ConfirmPopup.cshtml", item.ID)
                </div>
            </th>
        </tr>
    }
</table>
@await Html.PartialAsync("~/Views/Component/Pagination.cshtml", new Aoo.ViewModels.Component.PaginationModel { currentPage = ViewBag.currentPage, totalPage = ViewBag.totalPage })
<script src="~/js/Admin/PM/scripts.js"></script>

