@model IEnumerable<DAL.Model.PM.TransportType>
@inject BLL.BLL.PM.IProvinceBLL ProvinceBLL;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}
@{ 
    var listProvince = await ProvinceBLL.Get();
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

<script>
    var app = angular.module("app", []);
    var baseUrl ="@(Context.Request.Scheme+"://"+Context.Request.Host)";
    console.log(baseUrl);
    app.controller('MainCtrl', function ($scope, $http) {
        var arrayObject =@Html.Raw(Json.Serialize(listProvince));
        $scope.listProvince = arrayObject;
        $scope.selectedOption = $scope.listProvince[0];
        $scope.districts = [];
        $scope.selectedDistrict;
        $scope.currency = {
            name: "",
            price: "",
            note: "",

        };
        $scope.listDetails;
        $scope.id = "";
        $scope.loading = false;
        $scope.update = function (districts) {
            $scope.districts = JSON.parse(districts);
            $scope.selectedDistrict = $scope.districts[0].districtID;
        }
        $scope.Details = function (id,name,note,price) {
            $scope.loading = true;
            $scope.id = id;
            $('#title-header').html(name);
            setInterval(function () {
                $scope.name = name;
                $scope.note = note;
                $scope.price = price;
                $scope.$digest();
            }, 500);
            $('#Model-boostrap').modal('show');
            $http.get(baseUrl + "/TransportType/Details?id=" + $scope.id).then(function (data) {
                $scope.listDetails = data.data;

            }).catch(function (error) {
                alert("Mời bạn quay lai sau");


            });
               


            


        }
        $scope.deleteDetails = function (id) {
            var checkconfirm = confirm("Bạn có muôn xóa");
            if (!checkconfirm)
                return;
            var deleteID = {
                'deleteTransportID':$scope.id

            };
            $http.delete(baseUrl + "/TransportType/DeleteDetails?id=" + id + "&deleteTransportID=" + $scope.id).then(function (data) {
                if (data.success == "false") {
                    alert("Xóa  không thành công")
                    return;
                }
                alert("xóa thành công");
                $scope.listDetails = data.data.data;
                console.log(data.data.data);

            }).catch(function (error) {
                alert("Mời bạn quay lai sau");


            });


        }
       
        $scope.addPriceTransportType = function () {
            var price = $('#output').val();
            if (price == "")
                alert("Mời nhập vào giá");
            if ($scope.selectedDistrict == undefined)
                alert("Chọn địa điểm");
            else
            {
                var addTransportTypePrice =
                    {
                        'IdTransport': $scope.id,
                        'DistrictID': $scope.selectedDistrict,
                        'Price': price
                    };

                for (var index in $scope.listDetails)
                {
                    var detail = $scope.listDetails[index];
                    if (detail.districtID == $scope.selectedDistrict)
                    {
                        alert("Đã có giá tiền cho khu vực này");
                        return;

                    }

                }
                console.log(addTransportTypePrice);
                //success
                $http.post(baseUrl + "/TransportType/AddDetails", addTransportTypePrice)
                    .then(function (data) {
                        if (data.success == "false") {
                            alert("Thêm giá không thành công")
                            return;
                        }
                        alert("thêm thành công");
                        $scope.listDetails = data.data.data;
                        

                    }).catch(function (error) {
                        alert("Mời bạn quay lai sau");

                    })
            }
        }
    });
</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="" style="margin-top:5em" ng-app="app">
    <a class="btn btn-success btn-lg pull-right" asp-action="Create">Create New</a>
    <div class="table-wrapper" ng-controller="MainCtrl">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="Model-boostrap">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Bảng giá vận chuyển của đối tác <label id="title-header"></label></h4>
                    </div>
                    <div class="model-content">
                        <button type="button" class="btn btn-success btn-lg" ng-click="addPriceTransportType()" data-id="Model-boostrap" id="Model-boostrapgg">Add</button>
                        <select class=" form-control" ng-model="selectedOption" ng-change="update(selectedOption)">
                            <option ng-repeat="operator in listProvince"
                                    value="{{operator.districts}}">
                                {{operator.type}}  {{operator.name}}

                            </option>
                        </select>
                        <select ng-model="selectedDistrict" class=" form-control" style="margin-top:2em">
                            <option ng-repeat="district in districts  "
                                    value="{{district.districtID}}">
                                {{district.type}} {{district.name}}
                            </option>
                        </select>
                        @await Html.PartialAsync("~/Views/Component/CurrencyInput.cshtml", new Aoo.ViewModels.Component.CurrencyInputModel { Name = "Price" })
                        <div class="data-filed">
                            <div class="content">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Province </th>
                                            <th scope="col">District</th>
                                            <th scope="col">Price</th>
                                            <th scope="col"></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="detail in listDetails ">
                                            <th scope="row"></th>
                                            <td>{{detail.district.province.name}}</td>
                                            <td>{{detail.district.name}}</td>
                                            <td>{{detail.price|currency:""}}</td>
                                            <td>
                                                <i ng-click="deleteDetails(detail.id)" class="icon-remove"></i>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info no btn-block" id="modal-btn-no">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-title">
            <div class="row">

                <div class="col-sm-8"><h2>Transport <b>Partner Manager</b></h2></div>
                <div class="col-sm-4">
                    <div class="search-box">

                        <input type="text" class="form-control" placeholder="Search…">

                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                       

                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prestige)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.Name</td>
                        <td>@(string.Format("{0:N}", item.Price))</td>
                        <td>@item.Prestige</td>
                        <td>@item.Note</td>

                        <td>
                            <a href="#" class="view" ng-click="Details('@(item.ID)','@(item.Name)','@(item.Note)','@(item.Price)')" title="" data-toggle="tooltip" data-original-title="View"><i class="material-icons"></i></a>

                            <div class="subedit">
                                <a href="/TransportType/Edit?id=@item.ID">Sửa</a>
                            </div>
                            @await Html.PartialAsync("~/Views/Component/ConfirmPopup.cshtml", item.ID)

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <script src="~/js/Admin/PM/scripts.js"></script>

        <div class="clearfix">
            @*<div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
                <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item active"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>*@
        </div>
    </div>

   


</div>






