@model DAL.Model.PM.Category

@{
    ViewData["Title"] = "DeleteCategory";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<h3>Bạn có muốn xóa không?</h3>
<div class="delmodel">
    <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DefaultImage)
            </dt>
            <dd>
             <img width="100px" height="50px" src=@Url.Content(Model.DefaultImage) />
            </dd>
        </dl>

    <form asp-action="DeleteCategory">
        <input type="submit" value="Xác nhận" class="btn btn-warning" /> |
        <div class="backtolist">
            <a href="/Product/Index">Trở lại trang quản lý</a>
        </div>
    </form>
</div>

