@model IEnumerable<DAL.Model.PM.Brand>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<link href="~/css/Admin/brandadmin.css" rel="stylesheet" />
<h2>Trang chủ thương hiệu</h2>
<div class="subadd">
    <a href="/Brand/AddBrand">Thêm</a>
</div>
<table class="tablebrand">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultImage)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src=@Url.Content(item.DefaultImage) />
                </td>
                <td>
                    <div class="subedit">
                    <a href="/Brand/EditBrand?id=@item.ID">Sửa</a> |
                    </div>
                    @await Html.PartialAsync("~/Views/Component/ConfirmPopup.cshtml", item.ID)
                </td>
            </tr>
        }
        <tr></tr>
    </tbody>
</table>
@await Html.PartialAsync("~/Views/Component/Pagination.cshtml",new Aoo.ViewModels.Component.PaginationModel { currentPage=ViewBag.currentPage,totalPage=ViewBag.totalPage});
<script src="~/js/Admin/PM/scripts.js"></script>
