@model IEnumerable<DAL.Model.PM.Brand>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}
<link href="~/css/Admin/brandadmin.css" rel="stylesheet" />
<h2>Trang chủ thương hiệu</h2>
<table class="tablebrand">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultImage)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src=@Url.Content(item.DefaultImage) />
                </td>
                <td>
                    <a href="/Brand/AddBrand">Thêm</a> |
                    <a href="/Brand/EditBrand?id=@item.ID">Sửa</a> |
                    @Html.ActionLink("Chi tiết", "Details", new { /* id=item.PrimaryKey */ }) |
                    @await Html.PartialAsync("~/Views/Component/ConfirmPopup.cshtml", item.ID)
                </td>
            </tr>
        }

    </tbody>
</table>
<script src="~/js/Admin/PM/scripts.js"></script>
