@model Aoo.ViewModels.PM.ProductDetails.LoadDetailsViewModel
@inject BLL.BLL.PM.IProductDetailsBLL ProductDetailsBLL
@inject BLL.BLL.PM.IProductBLL ProductBLL
@{
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
    var listImage = Model.ListImage;
    List<string> images = new List<string>();
    if (listImage != null)
    {
        images = listImage.Split(new string[] { "," }, StringSplitOptions.None).ToList();
    }
    //Model.ImagePath = images[0];
    var currencolor = Model.Color;
    var listcolor = await ProductDetailsBLL.Get(filter: p => p.ProductID == Model.ID);
    var productspecification = await ProductBLL.Find(Model.ID);
    var pricedefau = productspecification.Price;
    List<string> morecolor = new List<string>();
    foreach (var item in listcolor)
    {
        if (listcolor.Count() > 0 && item.TypeColor.ToString() != currencolor)
        {
            string a = item.TypeColor.ToString();
            morecolor.Add(a);
        }
    }

}
<head>
    <meta property="og:url" content="http://thienma1258.somee.com/" />
    <meta property="og:image" content="https://www.your-domain.com/path/image.jpg" />
    <script type="text/javascript" src="~/js/Cookie.js"></script>
</head>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-share-button" data-href="http://localhost:62086/Shop/Detail?id=2a6c9129-d326-402a-adbf-94b95abfa37c&color=Red" data-layout="button_count"></div>
<div class="fb-share-button" data-href='@(string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path))'  data-layout="button_count"></div>
<link rel=" stylesheet" href="~/css/flexslider.css" />
<link rel=" stylesheet" href="~/css/shopdev.css" />
<!-- Single-Product-View -->
<div class="w3aitssinglewthree">
    <div class="container">
        <div class="products">
            <div class="single-page">
                <div class="single-page-row" id="detail-21">
                    <div id="listimage" class="col-md-6 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                @{
                                    if (Model.Color == null)
                                    {
                                        <li data-thumb=@Url.Content(Model.DefaultImages)>
                                            <div class="thumb-image detail_images"> <img src=@Url.Content(Model.DefaultImages) data-imagezoom="true" class="img-responsive"></div>
                                        </li>}
                                    else
                                    {
                                        foreach (var item in images)
                                        {
                                            <li data-thumb=@Url.Content(item)>
                                                <div class="thumb-image detail_images"> <img src=@Url.Content(item) data-imagezoom="true" class="img-responsive"></div>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 single-top-right">
                        <h1 class="item_name">@Model.Model</h1>
                        <p>This item will be delivered within 5-10 working days.</p>
                        <div class="rating">
                            <span class="starRating">
                                <input id="rating5" type="radio" name="rating" value="5">
                                <label for="rating5">5</label>
                                <input id="rating4" type="radio" name="rating" value="4" checked>
                                <label for="rating4">4</label>
                                <input id="rating3" type="radio" name="rating" value="3">
                                <label for="rating3">3</label>
                                <input id="rating2" type="radio" name="rating" value="2">
                                <label for="rating2">2</label>
                                <input id="rating1" type="radio" name="rating" value="1">
                                <label for="rating1">1</label>
                            </span>
                        </div>

                        <div id="info" class="single-price">
                            <ul>
                                <li>@(string.Format("{0:N0}", pricedefau))</li>
                            </ul>
                            <br />
                            <label>Size giày:</label><br />
                                                     <select id="currentSize">
                                                         {
                                                         @{for (int i = 0; i < Model.ListSize.Count; i++)
                                                             {
                                                                 <option value="@Model.ListIDDetails[i]">@Model.ListSize[i]</option>

                                                             }
                                                         }
                                                     </select>}

                            </div>
                        <div style="margin-top:15px;">
                            <h3>Color:</h3>
                            @foreach (var item in Model.ListColor)
                            {
                                <div class="myColor">
                                    <a id="myColor">
                                        <div class="active" style="display:inline-flex;width:50px;height:50px;border:1px solid #000;background-color:@item"></div>
                                    </a>
                                </div>
                            }
                            @{
                                if (morecolor.Count > 0)
                                {
                                    List<string>
                                    l = new List<string>();
                                    l.Add(morecolor.First());
                                    foreach (var item in morecolor)
                                    {
                                        if (item != l.First())
                                        {
                                            l.Add(item);

                                        }

                                    }
                                
                                    <h3>More Color:</h3><br />
                                    foreach (var item in l)
                                    {
                                        <div class="myColor">
                                            <a id="myColor" href="/@(productspecification.SubGroup.UrlFriendly)/@(productspecification.UrlFriendly)/@(item.ToString())">
                                                <div class="active" style="display:inline-flex;width:50px;height:50px;border:1px solid #000;background-color:@item"></div>
                                            </a>
                                        </div>
                                    }
                                }
                            }
                            <br />
                        </div>


                        <p class="single-price-text">@Html.Raw(Model.Specification)</p>
                        <div class="cbp-pgcontent aitssinglew3" id="mens_single">
                            @*<button onclick="AddToCart('@Model.ID','@Model.ImagePath','@Model.Model','@Model.Price','@Model.Color','@Model.CurrentSize','@Model.Quantity')" class="btn btn-danger agileits my-cart-btn" data-id="mens_single" data-name="Black Leather Jacket" data-summary="Black Leather Jacket" data-price="67.5" data-quantity="1" data-image="images/s1.jpg"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>*@
                            <button onclick="AddToCart('@Model.ImagePath','@Model.Model',@pricedefau,'@Model.Color')" class="btn btn-danger agileits my-cart-btn" data-id="mens_single" data-name="Black Leather Jacket" data-summary="Black Leather Jacket" data-price="67.5" data-quantity="1" data-image="images/s1.jpg"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="agilesocialwthree">
                            <h4>Share this Product</h4>
                            <ul class="social-icons">
                                <li><a href="#" class="facebook w3ls" title="Go to Our Facebook Page"><i class="fa w3ls fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="twitter w3l" title="Go to Our Twitter Account"><i class="fa w3l fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="googleplus w3" title="Go to Our Google Plus Account"><i class="fa w3 fa-google-plus-square" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="instagram wthree" title="Go to Our Instagram Account"><i class="fa wthree fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="aitsaccordionw3layouts">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title asd">
                                <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Description <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body panel_text">
                                <div class="scrollbar" id="style-2">
                                    @Html.Raw(Model.Descrtiption)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    More Colors (2) <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="accordion-image">
                                <div class="ac-img">
                                    <a href="#"><img src="~/images/product-1.jpg" alt="Groovy Apparel"></a>
                                </div>
                                <div class="ac-img">
                                    <a href="#"><img src="~/images/product-2.jpg" alt="Groovy Apparel"></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

@if (Model.IsAllowFacebookComment)
{
    <div class="facebook-comment">
        <div class="fb-comments" data-width="100%" data-href="@(string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path)) " data-numposts="5"></div>
        Comment
    </div>
}

<!-- //Single-Product-View -->
<!-- Custom-JavaScript-File-Links -->
<!-- Default-JavaScript -->
<!-- Custom-JavaScript-File-Links -->
<!-- cart-js -->
<!-- //cart-js -->
<!-- Dropdown-Menu-JavaScript -->
<!-- //Dropdown-Menu-JavaScript -->
<!-- Popup-Box-JavaScript -->
<script src="~/js/jquery.magnific-popup.js" type="text/javascript"></script>
<!-- //Popup-Box-JavaScript -->
<!-- FlexSlider-JavaScript -->
<script defer src="~/js/Shop/jquery.flexslider.js"></script>
<script>
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>
<!-- //FlexSlider-JavaScript -->
<!-- ImageZoom-JavaScript -->
<script src="~/js/Shop/imagezoom.js"></script>

<!-- //Custom-JavaScript-File-Links -->
<!-- Bootstrap-JavaScript -->
<script src="~/js/bootstrap.js"></script>
<!-- Cookies Function -->
<script>
    function check(a, b, c, d, e, f, h) {
        var t = a + " " + b + " " + c + " " + d + " " + e + " " + f + " " + h;
        window.alert(t);
    }
</script>     
