@model Aoo.ViewModels.PM.ProductDetails.LoadDetailsViewModel
@inject BLL.BLL.PM.IProductDetailsBLL ProductDetailsBLL
@inject BLL.BLL.PM.IProductBLL ProductBLL
@{
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
    var listImage = Model.ListImage;
    List<string> images = new List<string>();
    if (listImage != null)
    {
        images = listImage.Split(new string[] { "," }, StringSplitOptions.None).ToList();
    }
    var currencolor = Model.Color;
    var listcolor = await ProductDetailsBLL.Get(filter: p => p.ProductID == Model.ID);
    var productspecification = await ProductBLL.Find(Model.ID);
    var pricedefau = productspecification.Price;
    List<string> morecolor = new List<string>();
    foreach (var item in listcolor)
    {
        if (listcolor.Count() > 0 && item.TypeColor.ToString() != currencolor)
        {
            string a = item.TypeColor.ToString();
            morecolor.Add(a);
        }
    }
}
<head>
    <meta property="og:url" content="http://thienma1258.somee.com/" />
    <meta property="og:image" content="https://www.your-domain.com/path/image.jpg" />
</head>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-share-button" data-href="http://localhost:62086/Shop/Detail?id=2a6c9129-d326-402a-adbf-94b95abfa37c&color=Red" data-layout="button_count"></div>
<div class="fb-share-button" data-href='@(string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path))'  data-layout="button_count"></div>
<link rel=" stylesheet" href="~/css/flexslider.css" />
<link rel=" stylesheet" href="~/css/shopdev.css" />
<!-- Single-Product-View -->
<div class="w3aitssinglewthree">
    <div class="container">
        <div class="products">
            <div class="single-page">
                <div class="single-page-row" id="detail-21">
                    <div id="listimage" class="col-md-6 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                @{
                                    if (Model.Color == null)
                                    {
                                        <li data-thumb=@Url.Content(Model.DefaultImages)>
                                            <div class="thumb-image detail_images"> <img src=@Url.Content(Model.DefaultImages) data-imagezoom="true" class="img-responsive"></div>
                                        </li>}
                                    else
                                    {
                                        foreach (var item in images)
                                        {
                                            <li data-thumb=@Url.Content(item)>
                                                <div class="thumb-image detail_images"> <img src=@Url.Content(item) data-imagezoom="true" class="img-responsive"></div>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 single-top-right">
                        <h1 class="item_name">@Model.Model</h1>
                        <p>This item will be delivered within 5-10 working days.</p>
                        <div class="rating">
                            <span class="starRating">
                                <input id="rating5" type="radio" name="rating" value="5">
                                <label for="rating5">5</label>
                                <input id="rating4" type="radio" name="rating" value="4" checked>
                                <label for="rating4">4</label>
                                <input id="rating3" type="radio" name="rating" value="3">
                                <label for="rating3">3</label>
                                <input id="rating2" type="radio" name="rating" value="2">
                                <label for="rating2">2</label>
                                <input id="rating1" type="radio" name="rating" value="1">
                                <label for="rating1">1</label>
                            </span>
                        </div>

                        <div id="info" class="single-price">
                            <ul>
                                <li>@(string.Format("{0:N0}", pricedefau))</li>
                            </ul>
                            <br />
                            <label>Size giày:</label><br />
                            @{
                                <select class="form-control" asp-items="@(new SelectList(Model.ListSize))">
                                    <option selected="selected" value="">Please select</option>
                                </select>

                            }




                        </div>
                        <div style="margin-top:15px;">
                            <h3>Color:</h3>
                            @foreach (var item in Model.ListColor)
                            {
                                <div class="myColor">
                                    <a id="myColor" href="/Shop/Detail?id=@Model.ID&color=@item">
                                        <div class="active" style="display:inline-flex;width:50px;height:50px;border:1px solid #000;background-color:@item"></div>
                                    </a>
                                </div>
                            }
                            @{
                                if (morecolor.Count > 0)
                                {
                                    List<string>
                                    l = new List<string>();
                                    l.Add(morecolor.First());
                                    foreach (var item in morecolor)
                                    {
                                        if (item != l.First())
                                        {
                                            l.Add(item);

                                        }

                                    }
                                
                                    <h3>More Color:</h3><br />
                                    foreach (var item in l)
                                    {
                                    <div class="myColor" style="display:inline-flex">
                                        <a id="myColor" href="/Shop/Detail?id=@Model.ID&color=@item">

                                            <div class="active" style="display:inline-flex;width:50px;height:50px;border:1px solid #000;background-color:@item"></div>
                                        </a>
                                    </div>
                                    }
                                }
                            }
                            <br />
                        </div>


                        <p class="single-price-text">@Html.Raw(Model.Specification)</p>
                        <div class="cbp-pgcontent aitssinglew3" id="mens_single">
                            <button onclick="AddTocart('ListCart','ID','STANMITH','RED','39','1')" class="btn btn-danger agileits my-cart-btn" data-id="mens_single" data-name="Black Leather Jacket" data-summary="Black Leather Jacket" data-price="67.5" data-quantity="1" data-image="images/s1.jpg"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="agilesocialwthree">
                            <h4>Share this Product</h4>
                            <ul class="social-icons">
                                <li><a href="#" class="facebook w3ls" title="Go to Our Facebook Page"><i class="fa w3ls fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="twitter w3l" title="Go to Our Twitter Account"><i class="fa w3l fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="googleplus w3" title="Go to Our Google Plus Account"><i class="fa w3 fa-google-plus-square" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="instagram wthree" title="Go to Our Instagram Account"><i class="fa wthree fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="aitsaccordionw3layouts">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title asd">
                                <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Description <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body panel_text">
                                <div class="scrollbar" id="style-2">
                                    @Html.Raw(Model.Descrtiption)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    More Colors (2) <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="accordion-image">
                                <div class="ac-img">
                                    <a href="#"><img src="~/images/product-1.jpg" alt="Groovy Apparel"></a>
                                </div>
                                <div class="ac-img">
                                    <a href="#"><img src="~/images/product-2.jpg" alt="Groovy Apparel"></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

@if (Model.IsAllowFacebookComment)
{
    <div class="facebook-comment">
        <div class="fb-comments" data-width="100%" data-href="@(string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path)) " data-numposts="5"></div>
        Comment
    </div>
}

<!-- //Single-Product-View -->
<!-- Custom-JavaScript-File-Links -->
<!-- Default-JavaScript -->
<!-- Custom-JavaScript-File-Links -->
<!-- cart-js -->
<!-- //cart-js -->
<!-- Dropdown-Menu-JavaScript -->
<!-- //Dropdown-Menu-JavaScript -->
<!-- Popup-Box-JavaScript -->
<script src="~/js/jquery.magnific-popup.js" type="text/javascript"></script>
<!-- //Popup-Box-JavaScript -->
<!-- FlexSlider-JavaScript -->
<script defer src="~/js/Shop/jquery.flexslider.js"></script>
<script>
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>
<!-- //FlexSlider-JavaScript -->
<!-- ImageZoom-JavaScript -->
<script src="~/js/Shop/imagezoom.js"></script>

<!-- //Custom-JavaScript-File-Links -->
<!-- Bootstrap-JavaScript -->
<script src="~/js/bootstrap.js"></script>
<!-- Cookies Function -->
<script>
    function Item(ID, Model, Price, Color, CurrentSize, Quantity) {
        this.ID = ID;
        this.Model = Model;
        this.Price = Price;
        this.Color = Color;
        this.CurrentSize = CurrentSize;
        this.Quantity = Quantity;
        return this;
    }
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function IsEmpty(name) {
        if (getCookie(name) == "")
            return null;
    }
    var key = "ListItem";
    function AddTocart(name, id, model, color, currentsize, quantity) {
        if (getCookie('ListItem') == "") {
            var ListItem = new Array();
            var item = new Item(
                ID = id,
                Model = model,
                Color = color,
                CurrentSize = currentsize,
                Quantity = quantity
            );
            ListItem.push(item);
            setCookie(key, JSON.stringify(ListItem), 60);
        }
        else {
            var ListResult = JSON.parse(getCookie('ListItem'));
            ListResult.forEach(function (e) {
                if (e.ID == id) {
                    e.Quantity++;
                }
            });
            setCookie('ListItem', JSON.stringify(ListResult), 60);
            console.Log(ListResult);
        }
    }
</script>
<style>
    .currentColor {
        border: none;
        outline: none;
        padding: 10px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
    }

    /* Style the active class (and buttons on mouse-over) */
    .myColor .active {
        border: 2px solid none;
    }
</style>
<script>
    var btnContainer = document.getElementById("myColor");

    // Get all buttons with class="btn" inside the container
    var btns = btnContainer.getElementsByClassName("currentColor");

    // Loop through the buttons and add the active class to the current/clicked button
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>