@model IEnumerable<DAL.Model.PM.Product>
@using Common.Enum.PM;
@inject BLL.BLL.PM.IMainGroupBLL MainGroupBLL
@inject BLL.BLL.PM.ISubGroupBLL SubGroupBLL
@inject BLL.BLL.PM.IBrandBLL BrandBLL
@inject BLL.BLL.PM.IProductDetailsBLL ProductDetailsBLL
@{
    ViewData["Title"] = "MenShop";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
    var listSubGroup = await SubGroupBLL.Get();
    var listMainGroup = await MainGroupBLL.Get();
    var listBrand = await BrandBLL.Get();
   
}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-share-button" data-href="http://thienma1258.somee.com/" data-layout="button_count"></div>
<img src="~/images/1240x-bighb-2015-mh-038-1980x1346px.jpg" />
<h1 class="w3wthreeheadingaits">SHOES 's INDEX</h1>
<link href="~/css/shopdev.css" rel="stylesheet" />
@*@foreach (var item in Model)
    {
        <div class="wthreeproductdisplay" style="display:flex">
            <div id="cbp-pgcontainer" class="cbp-pgcontainer">
                <ul class="cbp-pggrid">
                    <li class="wthree aits w3l">
                        <div class="cbp-pgcontent" id="men-8">
                            <span class="cbp-pgrotate"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                            <a href="mens_single.html">
                                <div class="cbp-pgitem a3ls">

                                    <div class="cbp-pgitem-flip">
                                        <img src="@Url.Content(item.DefaultImage)">
                                    </div>
                                </div>
                            </a>
                            <ul class="cbp-pgoptions w3l">
                                <li style="color:black" class="cbp-pgoptcompare">
                                   Nike

                                </li>
                                <li class="cbp-pgoptsize agile">
                                    <span data-size="XL">XL</span>
                                    <div class="cbp-pgopttooltip">
                                        <span data-size="XL">XL</span>
                                        <span data-size="L">L</span>
                                        <span data-size="M">M</span>
                                        <span data-size="S">S</span>
                                    </div>
                                </li>
                                <li class="cbp-pgoptcart">
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="w3l_item" value="Sweater ">
                                        <input type="hidden" name="amount" value="25.00">
                                        <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                        <span class="w3-agile-line"> </span>
                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <a href="mens_single.html">
                            <div class="cbp-pginfo w3layouts">
                                <ul>
                                    <li><h3>@item.Model</h3></li>
                                    <li><span class="cbp-pgprice">$25</span></li>
                                </ul>

                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }*@
@foreach (var item in Model)
{
    <div class="cover">
        <ul>
            <li>
                <div class="coverimg">
                    <img src="@Url.Content(item.DefaultImage)">
                </div>
            </li>
        </ul>

        <ul class="cbp-pgoptions w3l">
            <li style="color:black" class="cbp-pgoptcompare">
                @{
                    var listimgbrand = await BrandBLL.Find(item.BrandID);
                    <img style="width:50px;height:50px;margin:-10px" src="@Url.Content(listimgbrand.DefaultImage)" />
                }

            </li>
            @{
                var listsubgroup = await SubGroupBLL.Find(item.SubGroupID);
                @if (listsubgroup.TypeSex.ToString() == "Male")
                {
                    <li class="cbp-pgoptsize agile">
                        <span data-size="XL">39</span>
                        <div class="cbp-pgopttooltip">
                            <span data-size="XL">43</span>
                            <span data-size="XL">42</span>
                            <span data-size="XL">41</span>
                            <span data-size="XL">40</span>
                        </div>
                    </li>
                }
                else
                {
                    <li class="cbp-pgoptsize agile">
                        <span style="color:#d109ae" data-size="XL">35</span>
                        <div class="cbp-pgopttooltip">
                            <div class="women">
                                <span data-size="XL">39</span>
                                <span data-size="XL">38</span>
                                <span data-size="XL">37</span>
                                <span data-size="XL">36</span>
                            </div>
                        </div>
                    </li>
                }
            }

            <li class="cbp-pgoptcart">
                <form action="#" method="post">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="add" value="1">
                    <input type="hidden" name="w3l_item" value="Sweater ">
                    <input type="hidden" name="amount" value="25.00">
                    <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                    <span class="w3-agile-line"> </span>
                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                </form>
            </li>
        </ul>

        <div class="pricemodel">
            <div class="pricemodel">
                <ul>
                    @*<li><a href="/Shop/Specipition?id=@item.ID"><span>@item.Model</span></a>></li>*@
                    @{ var lisDetail = await ProductDetailsBLL.Get(filter: p => p.ProductID == item.ID);
                        if (lisDetail.Count() > 0)
                        {
                            var color = lisDetail.First();
                            <li><a href="/Shop/Detail?id=@item.ID&color=@color.TypeColor.ToString()"><span>@item.Model</span></a></li>
                            <li><span class="price">$25</span></li>
                        }
                        else
                        {
                        <li><a href="/Shop/Detail?id=@item.ID"><span>@item.Model</span></a></li>
                        <li><span class="price">$25</span></li>
                            }
                        }

                </ul>
                @*@{
                    var listColor = await ProductDetailsBLL.Get(filter: p => p.ProductID == item.ID);
                    foreach (var i in listColor)
                    {
                        <a href="/Shop/Detail?id=@item.ID&color=@i.TypeColor.ToString()"> @(i.TypeColor.ToString())</a>
                    }
                }*@

            </div>

        </div>
    </div>

}
<!-- //Men's-Product-Display -->
<!-- Custom-JavaScript-File-Links -->
<!-- Default-JavaScript -->
<!-- Shopping-Cart-JavaScript -->
<!-- cart-js -->
<script>
    w3l.render();

    w3l.cart.on('w3agile_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
            items = this.items();

            for (i = 0, len = items.length; i < len; i++) {
            }
        }
    });
</script>
<!-- //cart-js -->
<!-- Shopping-Cart-JavaScript -->
<!-- Dropdown-Menu-JavaScript -->
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Dropdown-Menu-JavaScript -->
<!-- Popup-Box-JavaScript -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });
    });
</script>
<!-- //Popup-Box-JavaScript -->

<script src="js/cbpShop.min.js"></script>
<script>
    var shop = new cbpShop(document.getElementById('cbp-pgcontainer'));
</script>

<!-- //Custom-JavaScript-File-Links -->
<!-- Bootstrap-JavaScript -->
<script src="js/bootstrap.js"></script>

