@model IEnumerable<DAL.Model.PM.HomeSlider>
@inject BLL.BLL.PM.ICategoryBLL CategoryBLL
@inject BLL.BLL.PM.IMainGroupBLL MainGroupBLL
@inject BLL.BLL.PM.ISubGroupBLL SubGroupBLL
@inject BLL.BLL.PM.IHomeCarouselBLL HomeCarouselBLL
@inject BLL.BLL.PM.IBrandBLL BrandBLL
@{
    var listimages = await HomeCarouselBLL.Get();
    var listcategory = await CategoryBLL.Get();
    var listmaingroup = await MainGroupBLL.Get();
    var listsubgroup = await SubGroupBLL.Get();
    var listbrand = await BrandBLL.Get(intNumber: 4, currentPage: 1, orderBy: p => p.OrderByDescending(brand => brand.EditedDate));
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}
<!-- Model-Slider -->
<link href="~/css/dev.css" rel="stylesheet" />
<script src="~/js/Cookie.js" type="text/javascript"></script>
<div class="agilemodel-slider">
    <div id='film_roll_1'>
        @foreach (var slider in Model)
        {
            <div><img style="height:550px;width:800px;" src="@Url.Content(slider.ImagePath)" alt="Groovy Apparel"></div>
        }
        @*<div><img src="~/images/s11.jpg" alt="Groovy Apparel"></div>
            <div><img src="~/images/product-2.jpg" alt="Groovy Apparel"></div>
            <div><img src="~/images/product-11.jpg" alt="Groovy Apparel"></div>*@

    </div>
</div>

<!-- //Model-Slider -->
<!-- Latest-Arrivals -->
<div class="wthreehome-latest">
    <div class="container">

        <div class="wthreehome-latest-grids">
            @foreach (var item in listcategory)
            {
            <div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid1">
                <div class="grid">
                    <figure class="effect-apollo">
                          <img height="361px" width="500px" src="@Url.Content(item.DefaultImage)" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <h4>@item.Name</h4>
                <h5>@item.Description</h5>
                <h6><a href="/san-pham">SHOPPING</a></h6>
            </div>
            }
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<!-- //Latest-Arrivals -->
<!-- Winter-Collection -->
<div class="wthreewinter-coll">
    <div class="container">
        <h1>BRACE YOURSELVES! WINTER IS COMING...</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="wthreeshop-a">
            <a href="womens.html">SHOP WINTER COLLECTION</a>
        </div>
    </div>
</div>
<!-- //Winter-Collection -->
<!-- Denim-Collection -->
<div class="wthreedenim-coll">
    <div class="style-grids">
        @foreach (var item in listbrand) {
        <div class="col-md-6 style-grid style-grid-1">
            <img src="@Url.Content(item.DefaultImage)" alt="Groovy Apparel">
            <div class="style-grid-1-text">
                <h3>DENIM JEANS</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                <div class="wthreeshop-a">
                    <a href="womens.html">SHOP DENIM COLLECTION</a>
                </div>
            </div>
        </div>
        @*<div class="col-md-6 style-grid style-grid-2">
            <div class="style-image-1">
                <img src="images/style-2.jpg" alt="Groovy Apparel">
                <div class="style-grid-2-text">
                    <h3>WATER REPELLENT</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                </div>
            </div>
            <div class="style-image-2">
                <img src="images/style-3.jpg" alt="Groovy Apparel">
                <div class="style-grid-2-text">
                    <h3>STITCHED TO PERFECTION</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                </div>
            </div>
        </div>*@
        }
        <div class="clearfix"></div>
    </div>
</div>
<!-- //Denim-Collection -->
<!-- Clearance-Sale -->
<div class="aitsclearance-sales">
    <div class="aitsclearance-sales-text">
        <h2>ALL CLEARANCE ITEMS</h2>
        <h4>BUY ONE AND GET ONE FREE</h4>
        <h5>50% OFF <small>On selected products<sup>*</sup></small></h5>
        <div class="wthreeshop-a">
            <a href="mens.html">SHOP NOW</a>
        </div>
    </div>
</div>
<!-- //Clearance-Sale -->
<!-- Shopping -->
<div class="agileshopping">
    <div class="container">

        <div class="agileshoppinggrids">
            <div class="col-md-6 agileshoppinggrid agileshoppinggrid1">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="images/mens.jpg" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 agileshoppinggrid agileshoppinggrid2">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="images/womens.jpg" alt="Groovy Apparel">
                            <figcaption></figcaption>
                    </figure>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="agileshoppinggrids-bottom">
            <h3>CHOOSE THE BEST FOR YOU</h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.</p>
            <div class="agileshoppinggrids-bottom-grids">
                <div class="col-md-6 agileshoppinggrids-bottom-grid agileshoppinggrids-bottom-grid1">
                    <div class="wthreeshop-a">
                        <a href="~/san-pham/nam">NAM</a>
                    </div>
                </div>
                <div class="col-md-6 agileshoppinggrids-bottom-grid agileshoppinggrids-bottom-grid2">
                    <div class="wthreeshop-a">
                        <a href="~/san-pham/nu">NỮ</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function CartCout() {
            var count = 0;
            var html = '';
        $("#countindex").html('');
            var ListItems = JSON.parse(getCookie("ListCartItem"));
            for (var i = 0; i < ListItems.length; i++) {
                count += ListItems[i].Quantity;
            }

            html = '<span class="cart-num" id="topActionCartNumber" style="display: block;" data-spm-anchor-id="a2o4n.cart.dcart.i0.4f25705bGOvobf">' + count + '</span>';
        $("#countindex").append(html);
        });
</script>
